.video-main {
  margin-top: 56px;
  margin-left: 72px;
  display: flex;
  justify-content:center;
  border: 2px solid red;
  background-color:#F9F9F9;
}


.video-info {
  margin-top: 56px;
  margin-left: 72px;
  display: flex;
  justify-content:center;
}