.trending-body {
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    margin-top: 56px;
    margin-left: 72px;
}

.trending-header {
    margin-left: 105px;
    width: 80%;
    font-size: 23px;
    color: #606060;
    font-family: Roboto, Arial, sans-serif;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.trending-video-container {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.video-on-left > video {
    width: 240px;
    height: 135px;
}

.trending-video-button:focus {
    outline: none;
}

.description-on-right {
    margin-top: 7px;
    margin-left: 20px;
    width: 100%;
}

.description-on-right > p {
    font-size: 20px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
}

.username-views-date {
    /* display: flex;
    flex-direction: row; */
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
}

/* .username-views-date .trending-username{
    
}

.username-views-date .trending-views {

}

.username-views-date .trending-date {

} */


