.entire-video-display-view {
    background-color: #f9f9f9;
    display: flex;
}

.video-display-view {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 100px;
}

.video-box {
    margin-top: 60px;
    border-bottom: 1px solid lightgray;
}

.video-box .video-display {
    height: 450px;
    width: 810px;
}

.video-description {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.video-title-id {
    margin-right: 33%;
    width: 300px;
}

.video-description h1 {
    font-size: 28px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.video-description h2 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: 10;
}

.video-description .views-and-date {
    color: rgb(128, 128, 128);
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin-top: 9px;
    margin-bottom: 15px;
}

.views-and-date .views {
    margin-right: 5px;
}

.views-and-date .date {
    margin-left: 5px;
}

.views-and-date > h3{
    margin-top: none;
}

.comments h1 {
    margin-left: 30px;
}

.rightside-vids {
    margin-top: 60px;
    margin-left: 30px;
    height: 1000px;
    overflow: scroll;
}

.rightside-vids .up-next{
    position: fixed;
    background-color: #f9f9f9;
    width: 320px;
    font-family: Roboto,Arial,sans-serif;
    color: darkgray;
    font-size: 20px;
    margin-bottom: 15px;
    opacity: .98;
}

.rightside-vids .up-next-video-list{
    margin-top:20px;
}

.liked {
    color: rgb(32, 120, 244);
}

.disliked {
    color: red;
}

.fa-thumbs-up, .fa-thumbs-down {
    margin-left: 5px;
    margin-right: 5px;
}
.fa-thumbs-up, .fa-thumbs-down:hover {
    cursor: pointer;
}

.likes-dislikes {
    font-size: 24px;
    display: flex;
    margin-right: 20px;
}

.like-errors {
    padding: 20px;
    border: 3px solid red;
    border-radius: 5px;
    background-color: #FFFFC3;
    font-weight: bold;
}

.subscription-button {
    font-size: 15px;
    font-weight: 500px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(96, 96, 96);
    transition: all 0.3s ease 0s;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
}

.subscription-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-1px);
}